html, body {
  min-width: 980px;
}
/* PERSONALIZAR BOOTSTRAP MENU INICIO */
.nome_user {
    color: #6f2526;
    font-weight: bold;
    padding: 20px;
}
/*------------------------------------*/
.navbar {
    background-color: #ffbcc1;
    font-size: 1.2vw;
    white-space: nowrap;
  }
  .navbar .navbar-brand {
    color: #d2707b;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #6f2526;
  }
  .navbar .navbar-text {
    color: #d2707b;
  }
  .navbar .navbar-text a {
    color: #6f2526;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #6f2526; 
  }
  .navbar .navbar-nav .nav-link {
    color: #d2707b;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #6f2526;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #ffbcc1;
    border-color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #6f2526;
    background-color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #d2707b;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #6f2526;
    background-color: #d2707b;
  }
  .navbar .navbar-toggler {
    border-color: #6f2526;

  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #6f2526;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #d2707b;
  }


  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #d2707b;
  }
  .navbar .navbar-link {
    color: #d2707b;
  }
  .navbar .navbar-link:hover {
    color: #6f2526;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d2707b;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #6f2526;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #6f2526;
      background-color: #d2707b;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d2707b;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #6f2526;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #6f2526;
      background-color: #d2707b;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d2707b;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #6f2526;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #6f2526;
      background-color: #d2707b;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #d2707b;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #6f2526;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #6f2526;
      background-color: #d2707b;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d2707b;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #6f2526;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #6f2526;
    background-color: #d2707b;
  }
  .myicon {
      padding: 0px 5px 0px 5px;
  }

  .dropdown-toggle::after{
    border: none;
    /*content: '\icon';*/
   }

   .modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
   /* PERSONALIZAR BOOTSTRAP MENU FIM */

   #msg5,  #msg6,  #msg6,  #msg7,  #msg8 {
    height: auto;
    color:#AE0002;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 0.8em;
    padding: 0.6em;
    }


/* ------------------------- */

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}