.nome_user, .nav-item, .dropdown-item {
  white-space: nowrap;
  font-size: 2vh;
}

/* PERSONALIZAR BOOTSTRAP MENU INICIO */
.nome_user {
    color: #6f2526;
    font-weight: bold;
    padding: 20px;
}
/*------------------------------------*/
.dropdown-toggle:focus { outline:0 !important; }

.btnsair {
  padding: 0px 1.5vh 0 3vh;
  font-size: 2vh;
  width:15vh;
}

.btnmodal {
  font-size: 2vh;
  width:10vh;
  text-align: center;
  margin: auto;
}

.btninside {
  font-size: 1.2vh;
  width:10vh;
  text-align: center;
  margin: auto;
}

.modal-title {
  font-size: 2.4vh;
}

.adjustfont {
  font-size: 1.6vh;
}

.modal-dialog {
  min-width: 90%;
}

#mylogo {
  margin: 1vh 0 0.5vh 0;
  width: 30vh;
  height: 15vh;
}

.navbar {
    background-color: #ffbcc1;
  }
  .navbar .navbar-brand {
    color: #d2707b;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #6f2526;
  }
  .navbar .navbar-text {
    color: #d2707b;
  }
  .navbar .navbar-text a {
    color: #6f2526;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #6f2526; 
  }
  .navbar .navbar-nav .nav-link {
    color: #d2707b;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #6f2526;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #ffbcc1;
    border-color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #6f2526;
    background-color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #d2707b;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #6f2526;
    background-color: #d2707b;
  }
  .navbar .navbar-toggler {
    border-color: #6f2526;
    background-color: #6f2526;

  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #461819;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #d2707b;
    width: 8vw !important;
    height:8vw !important;
  }

  .navbar-collapse {
    padding-top: 3vh !important;
  }

  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #d2707b;
  }
  .navbar .navbar-link {
    color: #d2707b;
  }
  .navbar .navbar-link:hover {
    color: #6f2526;
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d2707b;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #6f2526;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #6f2526;
    background-color: #d2707b;
  }
  .myicon {
      padding: 0 2vh 0 2vh;
      margin: auto;
      text-align: center;
      width: 10vh;
  }

  .dropdown-toggle::after{
    border: none;
    /*content: '\icon';*/
   }

   .modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
   /* PERSONALIZAR BOOTSTRAP MENU FIM */

   #msg5,  #msg6,  #msg6,  #msg7,  #msg8 {
    height: auto;
    color:#AE0002;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.8em;
    padding: 1em;
    }


/* ------------------------- */

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}