.nome_user, .nav-item, .dropdown-item {
  white-space: nowrap;
  font-size: 2vh;
}

/* PERSONALIZAR BOOTSTRAP MENU INICIO */
.nome_user {
    color: #6f2526;
    font-weight: bold;
    padding: 20px;
}
/*------------------------------------*/
.dropdown-toggle:focus { outline:0 !important; }

.btnsair {
  padding: 0px 1.5vh 0 3vh;
  font-size: 2vh;
  width:15vh;
}

.btnmodal {
  font-size: 2vh;
  width:10vh;
  text-align: center;
  margin: auto;
}

.btninside {
  font-size: 1.2vh;
  width:10vh;
  text-align: center;
  margin: auto;
}

.modal-title {
  font-size: 2.4vh;
}

.adjustfont {
  font-size: 1.6vh;
}

.modal-dialog {
  min-width: 90%;
}

#mylogo {
  margin: 1vh 0 0.5vh 0;
  width: 30vh;
  height: 15vh;
}

.navbar {
    background-color: #ffbcc1;
  }
  .navbar .navbar-brand {
    color: #d2707b;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #6f2526;
  }
  .navbar .navbar-text {
    color: #d2707b;
  }
  .navbar .navbar-text a {
    color: #6f2526;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #6f2526; 
  }
  .navbar .navbar-nav .nav-link {
    color: #d2707b;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #6f2526;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #ffbcc1;
    border-color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #6f2526;
    background-color: #d2707b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #d2707b;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #6f2526;
    background-color: #d2707b;
  }
  .navbar .navbar-toggler {
    border-color: #6f2526;
    background-color: #6f2526;

  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #461819;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #d2707b;
    width: 8vw !important;
    height:8vw !important;
  }

  .navbar-collapse {
    padding-top: 3vh !important;
  }

  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #d2707b;
  }
  .navbar .navbar-link {
    color: #d2707b;
  }
  .navbar .navbar-link:hover {
    color: #6f2526;
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d2707b;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #6f2526;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #6f2526;
    background-color: #d2707b;
  }
  .myicon {
      padding: 0 2vh 0 2vh;
      margin: auto;
      text-align: center;
      width: 10vh;
  }

  .dropdown-toggle::after{
    border: none;
    /*content: '\icon';*/
   }

   .modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
   /* PERSONALIZAR BOOTSTRAP MENU FIM */

   #msg5,  #msg6,  #msg6,  #msg7,  #msg8 {
    height: auto;
    color:#AE0002;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.8em;
    padding: 1em;
    }


/* ------------------------- */

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* --------------------------------- */
/* VOTAR EMOÇÕES */
/* --------------------------------- */
.nofilter {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.xcontainer{
  width: 166px;
  height: 166px;
  overflow:hidden;
  display:block;
  margin: 30px;
}
#myvideo{
  margin-left: -70px;
  margin-top: -70px;
  transition: all .2s ease-in-out;
}
#myvideo:hover{
  transform: scale(1.2);
}
.selecionado {
  transform: scale(1.2);
  margin-left: -70px;
  margin-top: -70px;
  transition: all .2s ease-in-out;
}
.mytext {
  position: absolute;
  width: 166px;
  top:200px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color:#000;
  z-index: 100;
  /*border: 3px solid #73AD21;*/
}
.mytitulo {
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
  color:#000;
  margin:10px 0px 10px 0px;
}
.btn-xl {
  position: relative;
  top: 200px;
  font-size: 2vh;
  width:10vh;
  text-align: center;
  margin: auto;
}

/* --------------------------------- */
.rodape {
position:fixed;
margin:3px;
right: 0;
bottom:0;
width: 200px;
height: 100px;
background-color: rgb(35, 159, 190);
}
.backarrow, .fowardarrow {
position:absolute;
padding:4px;
padding-top:25px;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
height: 100%;
vertical-align: middle;
color:rgb(109, 109, 109);
z-index: 1;
}
.backarrow {
left:0;
}
.fowardarrow {
right: 0;
}
.backarrow:hover, .fowardarrow:hover  {
color:rgb(0, 0, 0);
height: 100%;
}

.raluno {
width: 100%;
background-color: rgb(29, 131, 156);
text-align: center;
font-size: 13px;
z-index: 2;
}
#rsalanome {
position:absolute;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
text-align: center;
font-size: 14px;
color:#fff;
height: 100%;
padding-bottom:25px;
padding-left: 25px;
padding-right: 25px;
line-height: 18px;
z-index: -1;
}
/*-----------------------------------------------------*/
#backcover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background:rgb(0, 0, 0);
  overflow: hidden;
  z-index: 10;
}
#cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 98.5%;
  height: 97%;
  margin: 10px;
  background:rgb(255, 255, 255);
  overflow: auto;
  border: 4px solid #88c525;
  border-radius: 15px;
}
#avaliarPainelShow {
  padding-top: 200px;
}
/* ---- */
.close {
  position: absolute;
  right: 0px;
  top: 32px;
  width: 120px;
  height: 120px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 66px;
  width: 4px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/*-----------------------------------------------------*/
.logosecretaria {
  margin-top: 120px;
  width: 250px;
  height: 250px;
}
.vdmain{
  position: relative;
  display: block;
  bottom: 120px;
  z-index: -1;
}